.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.text.success {
  color: green;
}

.text.danger {
  color: red;
}